#to_shorten
  %form{:method => 'POST', :action => '/shorten'}
    %input{ :type => 'text', :id => 'url', :name => 'url', :size => 60, :placeholder => 'e.g. http://www.domain.com/with/a/really/long/url ...' }
    %input{ :type => 'submit', :id => 'btnshorten', :value => 'shorten!' }
